@import url("style.css");
@import url("about.css");
@import url("mediaquery.css");

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
   

   
}

body{
	margin: 0 auto;
	padding: 0 auto;
	font-size: 20px;
	max-width: 1500px;
	
}


.fab{
	padding-top: 10px;
	padding-right: 10px;
}

.container{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: 1fr auto 1fr;
	grid-gap: 20px;
}
.card{
	border-radius: 15px;
	background-color: #03343f;
}

#header{
	grid-column: span 12;
	background-color: #daedf0;
}
#menu{
	grid-column: span 2;
	
}
#main{
	grid-column: span 10;

}
#footer{
	grid-column: span 12;
	background-color: #daedf0;
	align-items: center;
}
#copy{
	padding-top: 10px;
}

.nested-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;
	grid-gap: 20px;
}



